<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi , This is the Backend Part (REST API) of DSABook web application</h1>

    <br><br>

    <h3>Auth Related Endpoints</h3>

    <br>

    &nbsp; &nbsp; <h4>POST  /api/auth/signup/</h4>
    &nbsp; &nbsp; <h4>POST  /api/auth/signin/</h4>
    &nbsp; &nbsp; <h4>POST  /api/auth/signout/</h4>

    <br>

    <h3>Blog Related Endpoints</h3>

    <br>

    &nbsp; &nbsp; <h4>GET /api/blogs/</h4>
    &nbsp; &nbsp; <h4>GET /api/blogs/:id/</h4>
    &nbsp; &nbsp; <h4>POST /api/blogs/</h4>
    &nbsp; &nbsp; <h4>PATCH /api/blogs/:id/</h4>
    &nbsp; &nbsp; <h4>DELETE /api/blogs/:id</h4>

    <br>

    <h3>User Related Endpoints</h3>

    <br>

    &nbsp; &nbsp; <h4>GET /api/users/</h4>
    &nbsp; &nbsp; <h4>GET /api/users/:username/</h4>
    &nbsp; &nbsp; <h4>POST /api/users/:username/myblog</h4>

    <br>
    
</body>
</html>